
<html>
    <style>
        a.button:link, a.button:visited {
            background-color: black;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }
          
          a.button:hover, a.button:active {
            background-color:grey;
          }
        </style>
<a href="/add" style="margin-right:20; font-size:25px; color:white; font-family:Times New Roman;" class="button">Add New Contact</a>
<a href="/display" style="margin-left:8; font-size:25px; color:white; font-family:Times New Roman;"class="button">Display Contacts</a>
<a href="/search" style="margin-left:8; font-size:25px; color:white; font-family:Times New Roman;"class="button">Search Contacts</a>


</html>